<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="img/weather.png">
  <link rel="stylesheet" href="css/style.css" />
  <title>About</title>
</head>
  <body>
    <div class="main-content">
    {{>header}}
    <p class="osim">Hi! I am Osim
    </p>
    <p class="aboutme">I believe that a test project can show much more than solving algorithmic problems. I’ve created some test samples using JavaScript and Cypress for you to look what my daily routine looks like.

<a href="https://github.com/osimkhusainov/api-and-ui-cypress">https://github.com/osimkhusainov/api-and-ui-cypress</a> - Here I created UI and API tests and also integrated Allure report with Jenkins

<a href="https://github.com/osimkhusainov/shairco">https://github.com/osimkhusainov/shairco</a> - Another great assessment for one company. Here I even was able to fix some UI bugs which are written on React and a couple of backend bugs that are written on Node.js and Express. I used Cypress for UI tests and Jest for Backend. All of them are written on TypeScript.
</p>
    <img class="portrait" src="/img/osim.jpg">
    </div>

    {{>footer}}
  </body>
</html>