<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="img/weather.png">
  <link rel="stylesheet" href="css/style.css" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <title>Contacts</title>
</head>

  <body>
    <div class="main-content">
    {{>header}}
    <p>{{helpText}}</p>
    <div class="contacts">
    <a href="mailto:osim.khusainov@gmail.com" class="fa fa-gmail"></a>
    <a href="https://www.instagram.com/okhusainov/" class="fa fa-instagram"></a>
    <a href="https://www.linkedin.com/in/osimkhusainov/" class="fa fa-linkedin"></a>
    </div>

    </div>

    {{>footer}}
  </body>

</html>