body {
    color: #333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 13px;
    text-align: center;
    text-decoration: none;
    color: #eeee;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #333;
    color: #eee;
    margin-bottom: 10px;
}

.fa-instagram {
    background: #333;
    color: #eee;
    margin-bottom: 10px;
}

.fa-gmail {
    background: #333;
    color: #eee;
    margin-bottom: 10px;
}

footer {
    color: #888;
    border-top: 1px solid #eeee;
    margin-top: 16px;
    padding: 16px 0
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

header a {
    color: #888;
    margin-right: 16px;
    text-decoration: none;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

.contacts {
    display: inline;

}

.contactlink {
    color: #333;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 10px;
}

.contactlink:hover {
    color: #888
}

.osim {
    color: #333;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
}


.text {
    display: flex;
    flex-direction: column;
    float: left;
}